*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
header div .search{
    position: relative;
    margin-left: 150px;
}
header div .search .fa-search{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: -17px;
    top: 10px;
}
header div .search input{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
}
header div .search ::placeholder{
    position: absolute;
    margin-left:20px;
    margin-top:7px;
}
header h3{
    margin-top: 20px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin-right: 200px;
}
header div .icon{
margin-right: 100px;
}
header div .icon a{
    margin-right: 15px;
    color: black;
}
header div .icon a :hover{
    color: blueviolet;
}
header hr{
    margin-top: 50px;
}
header nav{
    display: flex;
    justify-content: center;
}
header nav .home{
    color: purple;
}
header nav a {
    color: black;
    text-decoration: none;
    margin: 20px;
}
header nav select{
    border: none;
}
header nav a:hover{
    color: blueviolet;
}
.first {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color:  rgb(235, 230, 230);  
}
.first a{
    margin-left: 100px;
    text-decoration: none;
    margin-right: 10px;
}

.a{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
.a img{
    width: 450px;
    height: 300px;
    margin-left: 100px;
    margin-top: -200px;
}
.a p{
    width: 600px;
    height: 300px;
    margin-top: -70px;
    margin-right: 100px;
    margin-left: -60px;
    color: #606770;

}
.a strong{
    font-size: 20px;
    color: black;
}
.a h6{
    margin-top: -60px;
    margin-left: -60px;
    color: purple;
    font-size: 15px;
    font-weight: normal;
}
.a .aa{
    margin-top: 20px;
    margin-left: -60px;
}
.a label{
    margin-right: 20px;
}
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    margin-left: -150px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
    background-color: purple;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .a form .aaaa{
    margin-top: 30px;
    height: 40px;
    width: 130px;
    background-color: purple;
    color: white;
    border: none;
    transition: 0.2s;
  }
  .a form .aaaa:hover{
    background-color: rgb(105, 5, 105);
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px rgb(100, 98, 98);
  }
  .four{
    margin-top: -100px;
    background-color: rgb(246, 245, 245);
    height: 550px;

}
.four .one{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 700px;
    font-size: 30px;
    color: purple;
}
.four .one p{
    margin-left: -100px;
    color: black;
}
.four section a{
    text-decoration: none;
}
.four section .mo{
    margin-left: 10px;
}
.four section{
    display: flex;
    justify-content: center;
}
.four section div {
    width: 350px;
    height:370px;
    background-color: white;
    margin-right: 20px;
}
.four section div img{
    width: 350px;
    height: 250px;
}
.four section div ul{
    margin-top: 20px;
    margin-left: 150px;
}
.four section div li {
    list-style-type: none;
    color: rgb(132, 17, 155);
    margin-bottom: 5px;
}
.four section div .two{
    margin-left: -40px;
    color: silver;
}
footer{
    margin-top: 50px;
    width: 100%;
    height: 400px;
}
footer div {
    display: flex;
    justify-content: space-around;

}
footer ul li{
    list-style-type: none;
    margin: 15px;
    color: #606770;
}
footer .on .one{
    color: black;
    font-size: 20px;
}
footer .tw {
    margin-top: 35px;
    margin-left: -80px;
}
footer .thr{
    margin-top: 35px;
    margin-left: -150px;
}
footer .fo img{
    width: 250px;
    height: 100px;
}
footer .fo .one {
    color: black;
}
footer .fo .two {
    color:rebeccapurple ;
}
footer .fo{
    margin-left: -100px;
}
footer .fiv li { 
    display: flex;
}
footer .fiv li i{
    margin-right: 15px;
}
footer .fiv .two{
    margin-top: 40px;
}
footer .fiv .two .two{
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    border: none;
    transition: all0.3 ease;
    margin-left: -5px;
}
footer .fiv .two .one{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
}
footer .fiv .two .two:hover{
    background-color: rgb(76, 17, 131);
    transform: translate(1px,1px);
    box-shadow: 0.3px 0.3px 0.3px 0.3px black;
}
footer .last{
    margin-top: 50px;
    margin-left: 400px;
}
footer .last i{
    color: blueviolet;
}
footer .last em{
    color: blueviolet;
}
hr{
    margin-top: 100px;
}








